
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.color-primary{
    color: #4E47FF;
}
.text-center{
    text-align: center;
}

.btn-primary{
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
.btn-primary:hover, .btn-secondary:hover{
    background-color: #f38b04;
}
/* header styles */
header{
    background-image: url(../Assets/Hero-bg.png);
}

/* nav styles */
nav{
    display: flex;
    justify-content:space-between;
    padding: 50px 0px;
    width: 1140px;
    margin: auto;
   
}
nav a{
    text-decoration: none;
    font-size:34px;
    font-weight:800;
    color:#4E47FF;

}
.banner{
    text-align: center;
    padding: 152px 0px;
}
.banner h2{
    font-size: 65px;
    font-weight: bold;
    width: 1000px;
    text-align: center;
    margin:auto;
    margin-bottom: 37px;
    color: #252432;
}

/* main styles */
main{
    background-color: #F5F8FF;
}
main section{
    margin-top: 120px;
    margin-bottom: 120px;

}

/* action-section styles */
.action-section{
    display: flex;
    max-width: 1140px;
    justify-content: space-around;
    margin: 0 auto;
    padding: 116px 0;
}
.action-title{
    font-size: 42px;
    color: #252432;
}
.action-description{
    width: 517px;
    font-size: 24px;
    color: #2524328a;
}
.action-img img{
    border-radius: 48px;
}

/* productive user section styles */

.Productive-user-section{
    background-color: rgba(77, 71, 255, 0.103);
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 24px;
    margin-bottom: 120px;
    
   
}
.productive-title{
    color: #252432;
    font-size: 34px;
    font-weight: bold;
    padding: 50px 80px;
    
}
.user-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    
}
.user-data{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.user-subtitle{
    font-size: 20px;
    color: #00000082;
    margin: 0;
    padding: 0;
}
/* touch section styes */
.touch{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;
    padding-bottom: 100px;
}
.touch-column {
    width: 50%;
}
.touch-title{
    font-size: 97px;
    font-weight: bold;
}
input[type="email"], [type="text"]{
    height: 20px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 80%;
    padding: 25px 25px;
    margin: 20px 0px;
    border: none;
    font-size: 20px;
    border: 1px solid #D6DDED;
    
}
label{
    display: block;
    font-size: 18px;
}
textarea{
    border: 1px solid #D6DDED;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 80%;
    padding: 25px 25px;
    margin: 20px 0px;
    font-size: 20px;
    }
input [type="submit"]{
    display: block;
}
.btn-secondary{
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 15px 205px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;  
    text-align: center;
}
/* footer styles */
footer{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
}
.Website-name{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    padding: 0;
    margin: 0;
}
.website-subtitle{
    font-size: 16px;
    color: #8987A1;
    width: 531px;
    margin: 0 auto;
    padding: 20px;
}
footer ul{
    display: flex;
    width: 500px;
    margin: 0 auto;
}
footer ul li{
   list-style: none; 
   padding: 27px;
}
footer ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #8987A1;
}
/* feedback section style */
.feedback-section{
    max-width:1140px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.feedback-section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.feedback-container{
    display: flex;
}
.feedback{
    background-color: rgba(255, 255, 255, 0.505);
    margin: 10px;
    padding: 24px;
    border-radius: 10px;
}
.feedback-title{
    font-size: 24px;
    color: #1E1E1E;
    margin: 5px 0px;
    font-weight: 600;
}
.feedback-subtitle{
    font-size: 16px;
    color:#1E1E1E;
}
.review{
    display: flex;
   
}
.review img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.review-content{
    margin-left: 10px;
}
.reviewer-name{
    margin: 4px;
    font-size: 16px;
    color: #757575;
}
.review-date{
    margin: 3px;
    font-size: 16px;
    color: #B3B3B3;

}